<div id="main">
    <div id="midmain">

        <div object-fit="cover" id="logo"><img src="assets/images/face.jpg" alt="Avatar"></div>
        <h1>Christian Gutierrez</h1>
        <p>Software Engineer</p>


    </div>
    <div id="midPad">
        <canvas id="matrix"></canvas>
    </div>
    <div id="aboutPad">
        <h2>About Me</h2>
        <p id="info">
            My name is Christian Gutierrez, and I'm a <b>Software Engineer 
            </b>based in Northern New Jersey. My journey into programming began in childhood, fueled by a fascination with creating small Python and Roblox games. This early passion evolved into a career where I've become a well-rounded engineer with diverse industry experience. I've tackled various full-stack web applications, and other projects with a strong emphasis on SQL and database technologies. I pride myself on being a fast learner, capable of quickly adapting to unfamiliar tech stacks and rapidly becoming a key point of contact and mentor to fellow developers, ultimately enhancing team performance.<br><br>

            I specialize in transforming complex challenges into efficient code, consistently delivering robust solutions that drive tangible results. My expertise lies in architecting modular and scalable systems across various platforms. I am particularly adept at bridging the gap between intricate technical requirements and practical, user-centric implementations.<br><br>
            
            Previously, I was a Computer Science student at the New Jersey Institute of Technology, where I pursued a Bachelor of Science in Computer Science. Throughout my university experience, I worked on various projects using a wide array of technologies. Some languages I used included Python, Java, C++, C, Bash, SQL, HTML, CSS, and JavaScript. I completed a handful of projects, some of which are listed on my <a href="https://github.com/Person1080p?tab=repositories">GitHub</a>. One of my projects, TTYR, received a finalist position at hackNJIT 2021, my university's hackathon, and even earned a spot in The <a href="https://njitvector.com/2021/12/a-zoo-of-hackers-on-campus/"> Vector, NJIT's Newspaper</a>. I also hosted SIG-Linux/Arch at NJIT's ACM chapter, where I taught many students about the workings of Linux distributions and how to start using them. We used virtual machines to test out various distributions, from Debian and Ubuntu to Arch and Gentoo.
            
        </p>
    </div>
    <div id="contactBar">
        <div id="contactPad1"></div>
        <div id="contactInfo">
            <p>Name: Christian Gutierrez</p>
            <p>Location: Saddle Brook, New Jersey</p>
        </div>
        <div id="contactPad2"></div>
        <div id="contactInfo">
            <p text-align="right">Email: <a href="mailto:info@chrisgutie.xyz">info@chrisgutie.xyz</a></p>
            <p text-align="right">Cell: <a href="tel:2012900058">1(201)-290-0058</a></p>
        </div>
    </div>  
</div>