<div id="main">
    <div id="midmain">

        <div object-fit="cover" id="logo"><img src="assets/images/face.jpg" alt="Avatar"></div>
        <h1>Christian Gutierrez</h1>
        <p>Upcoming Software Engineer</p>


    </div>
    <div id="midPad">
        <canvas id="matrix"></canvas>
    </div>
    <div id="aboutPad">
        <h2>About Me</h2>
        <p id="info">My name is Christian Gutierrez. I am currently a Computer Science Student at New 
        Jersey Institute of Technology and Pursuing a Bachelor of Science in Computer Science.
        Throughout my university experience I have worked on various projects using various technologies.
        Some languages used includes: 
        <b>Python, Java, C++, C, Bash, SQL, HTML, CSS, JavaScript.</b>
        I have worked on a handful of projects (Some are listed at my 
        <a href="https://github.com/Person1080p?tab=repositories">GitHub</a>)
        One of my projects, TTYR, received a finalist position at hackNJIT 2021, my university's hackathon.
        It even earned a spot in the 
        <a href="https://njitvector.com/2021/12/a-zoo-of-hackers-on-campus/"> Vector, NJIT's Newspaper</a>.
        I have also hosted SIG-Linux/Arch at NJIT's ACM chapter (where I currently hold the position of Vice President)
        In this Special Interest Group, I taught many students about the workings of Linux distributions, and
        how to start using them. We used virtual machines to test out various ones from Debian and Ubuntu to Arch and Gentoo.
        
        I am currently interested in further expanding my repertoire of projects
        and learning intriguing new technologies to further expand my knowledge in the wide field of computing
        </p>
    </div>
    <div id="contactBar">
        <div id="contactPad1"></div>
        <div id="contactInfo">
            <p>Name: Christian Gutierrez</p>
            <p>Location: Saddle Brook, New Jersey</p>
        </div>
        <div id="contactPad2"></div>
        <div id="contactInfo">
            <p text-align="right">Email: <a href="mailto:info@chrisgutie.tech">info@chrisgutie.tech</a></p>
            <p text-align="right">Cell: <a href="tel:2012900058">1(201)-290-0058</a></p>
        </div>
    </div>  
</div>